<div class="row">
  <% @donations.each do |donation| %>
      <% if donation.photos %>
          <div class="col-xs-6 col-sm-3 thumbnail">
            <%= link_to (image_tag(donation.photos[0].image_url(:thumbnail), class:"img-responsive")), person_donation_path(donation.person,donation) %>
          </div>
      <% end %>
  <% end %>
</div>
